/* Mensajes de Error */
div.error, div.excepcion {
	color: red;	
	border: 2px solid red;
	padding: 10px;
	margin: 10px;
}

/* Ejercicio 1 */
body{
	margin-left:2em;
}

/* Ejercicio 2 */

header{
	display:block; 
	color: green; 
	border-bottom:5px solid brown;
}


footer{
	border-top: 5px solid brown;
	text-align:center;
	clear: both;
}

/* Ejercicio 3 */

/* small-caps */

header h1  {

	display: inline;  
	font-variant: small-caps;  
	color: brown;
}

/* Ejercicio 4 */

/* lighter */

header h2  {
	font-weight: lighter;
	font-style: italic;	
}


/* Ejercicio 5 */
.enlaces {
	float:left;
	width: 25%;  /* Los enlaces con los n�meros de p�gina ocupar�n s�lo el 25% de ancho y tantas l�neas como sea necesario*/
}


.datos_libro{
	float: left; /* Los datos del libro siempre aparecer�n ajustados a la izquierda */
	width: 75%;  
}

#botones_fila {
	float:right; 
	width: 25%;
}


.editar_fila{
	border:0px;
	margin:3px;
	padding:0px;
	float: right;	/* Los botones de acci�n de cada libro aparecer�n en la parte derecha */

}


.titulo{
	font-size: 1.17em;
	font-variant: small-caps; /* Letras versales */	
}


/* Ejercicio 6 */

.libro{
	clear: both;
	border-bottom:2px solid red;  /* tlbr no tiene ning�n valor */
}

.strongpass {
	background-color: green
}

.middlepass {
	background-color: yellow
}

.weakpass {
	background-color: red
}

.nanpass {
	background-color: lightyellow
}

/* ----------------------------------------------- */
/* --------------- Responsive menu ---------------*/
/* -----------------------------------------------*/

/* Eliminar margenes y padding de la lista, poner un fondo negro */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Los elementos de la lista ocupan todo el ancho si flotan a la izquierda */
ul.topnav li {float: left;}

/* Estilo de los vinculos */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Cambiar el color del fondo al pasar el mouse por encima */
ul.topnav li a:hover {background-color: #555;}

/* Esconder el boton del men� */
ul.topnav li.icon {display: none;}

/* Cuando la pantalla es menor de 680 pixeles, esconder todos los items menos el home. Mostras el vinculo al menu */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

	/* No mostral el autor */
	.autor{
		display: none;
	}
}

/* Poner la clase responsive para el que javascript muestre los vinculos al pulsar en el */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
