body {
	background-image: url('../img/fondo.png');
	background-attachment: fixed;
	background-position: center center; 
	background-repeat: no-repeat;
	background-size: cover;
}

.login{
	margin-left: 37.5%;
	margin-top: 10%;
	width: 200px;
	height: 200px;
}

.botonLogin{
	display: inline-block;
	margin-top: 5%;
	border-radius:15px
}

.error{
	position: absolute;
	color: black;	
	background: #eb262657;
	border-color: #FF0000; 
	width:80%;
	margin-left: 10%;
	top: 110%;
	font-family: "Comic Sans MS", sans-serif;
	font-size: 25px;
	border-radius: 15px;
}

div.login{
	height:50%;
	width:25%;
	background-color:#32223a4a;
	border-radius:20px;
	position: absolute;
}

input[type=text]{
	border-radius: 5px;
	background-color:#a26f93b5;
	font-color:white;
    border: groove;
	border-width: medium;
	border-color: #4d00002b;
   	margin-top:10px;
	padding:2%;
   	text-align: center;
    outline:none;    
        color:white;

       }

input[type=password]{
	border-radius: 5px;
	background-color:#a26f93b5;
	font-color:white;
    border:none;
    border: groove;
	border-width: medium;
	border-color: #4d00002b;
   	margin-top:10px;
    color:white;

}

input[type=submit]{
    border:none;
	border-radius:5px;    
	background-color:#da4c6fb8;
	color:white;
	cursor:pointer;
	font-family: "Comic Sans MS", Arial, sans-serif;
}

::placeholder{
	color:white;
	margin-left:auto;
	margin-right:auto;
}

input:focus{
	color:white;
}

.logoCoenca{
	margin-left:auto;
	margin-right: auto;
	display: block;
	margin-top: 5%;
	width: 60%;
}

#dni, #pass, #passC{
	text-align: center;
	font-family: "Comic Sans MS", Arial, sans-serif;
	font-size: inherit;
}

.registro{
	height: 35px;
}
.registroB{
	height: 30px;
}
