body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li.letras a {
  font: 15px Arial, sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a.letras:hover:not(.active) {background-color: #aa173a;}

ul.topnav li a.active {background-color: #4CAF50;}
li.logo {
	padding-top:7px;
padding-left:16px;
padding-right:16px;
}
ul.topnav li.right {float: right;
padding-top:10px;
padding-left:16px;
padding-right:16px;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}