body{
	background-color:#dfdfdf7d;
}
form.modForm{
        
	}
input.largo{
	padding:7px;
	border-radius:5px;
	margin-top:2%;
	border:none;
	outline: 0;
	background-color:#ffffffd9;
	outline-width: 0;
    color:#615d5d;
    width:98%;
    text-indent: 2%;
    margin-top:2%;
   
}
input.corto{
	padding:7px;
	border-radius:5px;
	margin-top:2%;
	border:none;
	background-color:#ffffffd9;
	outline-width: 0;
    color:#615d5d;
    text-indent: 4%;
    margin-top:4%;
    
    
}

div.divMod{
    border-radius:20px;
	background-color: #ffffffd9;
	border: 2px solid #aa173a;
	padding-top:2%;
	padding-bottom:1.7%;
	width:40%;
	margin-top:3%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 3%;
	
}

div.dividido {
	display: inline-block;
	width: 49%;
	border-bottom: 1px solid #aa173a;
}

div.linea{
	padding-top:3%;
	width: 80%;
	display: block;
    margin : 0 auto;
    border-bottom: 1px solid #aa173a;
}

div.linea2{
	padding-top:3%;
	width: 80%;
	display: block;
    margin : 0 auto;
}
div.lineabotones{
	width: 80%;
	display: block;
}
label.textoMod{
	color:#727272b0;
	margin-top:2%;
	font: 15px Arial, sans-serif;
	
}

button.botonG{
    margin-top:2%;
    border:none;
    background-color:#f0f8ff00;
       cursor:pointer;

    }
button.botonG2{
	margin-top:2%;
   border:none;
   float:right;
   background-color:#f0f8ff00;
   cursor:pointer;
}
div.error{
	border-radius:20px;
    margin-top:2%;
    margin-left:auto;
    margin-right:auto;
    background-color:#14f11440;
    width:37%;
    font: 15px Arial, sans-serif;

}
div.error2{
	border-radius:20px;
    margin-top:2%;
    margin-left:auto;
    margin-right:auto;
    background-color:#ff36004a;
    width:37%;
    font: 15px Arial, sans-serif;
    padding:15px;

}


div.tick{
display:inline-block;
width:20%;	
vertical-align: middle;
margin-left:7%;
}

div.error2{
	border-radius:20px;
    margin-top:2%;
    margin-left:auto;
    margin-right:auto;
    background-color:#ff360073;
    width:37%;
    font: 15px Arial, sans-serif;
}

div.errortext{
display:inline-block;	
width:60%;
vertical-align: middle;
}


img.imagen{
    width:30px;
}
select.seleccion{
    padding:1%;
	border-radius:5px;
	margin-top:2%;
	border:none;
	background-color:#ffffffd9;
	outline-width: 0;
    color:#615d5d;
    width:98%;
    text-indent: 2%;
    margin-top:2%;
    cursor:pointer;

}