body{
	background-color:#c97f917d
}
form.modForm{
        
	}
input.inMod{
	padding:1%;
	border-radius:5px;
	margin-top:2%;
	border:none;
	background-color:#ffffff;
	outline-width: 0;
    color:#615d5d;
    width:80%;
    text-indent: 2%;
    margin-top:2%;
}
input.inMod2{
	padding:4%;
	border-radius:5px;
	margin-top:2%;
	border:none;
	background-color:#ffffff;
	outline-width: 0;
    color:#615d5d;
    width:123%;
    text-indent: 4%;
    margin-top:4%;
    margin-left:33%;
    
}
input.inMod3{
	padding:4%;
	border-radius:5px;
	margin-top:2%;
	border:none;
	background-color:#ffffff;
	outline-width: 0;
    color:#615d5d;
    width:123%;
    text-indent: 4%;
    margin-top:4%;
    margin-left:90%;

}
div.divMod{
    border-radius:20px;
	background-color: #aa173ad9;
	padding-top:5%;
	padding-bottom:5%;
	width:40%;
	margin-top:5%;
	margin-left:auto;
	margin-right:auto;
	
}
div.divLin{
    height:1px;
    width:45%;
	background-color:white;
	margin-bottom:5%;
}
label.textoMod{
	color:#ffffff;
	float: left;
	margin-top:2%;
	margin-left:13%
}
label.textoMod2{
	color:#ffffff;
	float: left;
	margin-left:47%;
	margin-top:4%;
		margin-top:2%;

}
label.textoMod3{
	color:#ffffff;
	float: left;
	margin-left:100%;
	margin-top:4%;
		margin-top:2%;

}
button.botonG{
    margin-top:2%;
    margin-left:45%;
    border:none;
    background-color:#f0f8ff00;
       cursor:pointer;

    }
button.botonG2{
   border:none;
   background-color:#f0f8ff00;
   cursor:pointer;
}
div.error{
	border-radius:20px;
    margin-top:1%;
    margin-left:auto;
    margin-right:auto;
    background-color:#14f11440;
    width:37%;
    padding:1%;
}
div.lineaxd{
	display:flex;
	margin-top:1%;
}
img.imagen{
    width:40px;
}
select.seleccion{
    padding:1%;
	border-radius:5px;
	margin-top:2%;
	border:none;
	background-color:#ffffff;
	outline-width: 0;
    color:#615d5d;
    width:83%;
    text-indent: 2%;
    margin-top:2%;
    cursor:pointer;

}
