table {
	border: 5px solid red;
	color:white;
}

tr:hover {
	background-color: #f5f5f5;}
	
caption {
	color:black;
	font-size: 2em;
	font-family: "Arial Black";}

th {
		border-style: outset;
	background-color: #ff1c50;}
	
td {
		border-style: inset;
	background-color: #333333;
}
