div.dJefe{
    background-color:#aa173a;
    width:100%;
    heigth:100%;
}

div.dPeones{
    background-color:#333;
}
td.nombre{
    cursor:pointer
}
label.jefMaq{
    color:white;
}
label.peones{
    color:white;
}