table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

caption {
	color:black;
	font-size: 2em;
	font-family: "Arial Black";}

th {
  border: 1px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ff1c50;
  color: white;
}

td {
  border: 1px solid #ddd;
}

table tr:nth-child(even){background-color: #ff1c50;}

table tr:hover {background-color: #ddd;}

.filtro {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 20%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}