table {
  font: 14px Arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left:auto; 
  margin-right:auto;

  
}

body{
	padding-bottom: 80px;
}
input[type=submit]{
	border-radius: 8px;
	background-color: #a7a5a561;
	border:none;
}

form.formpag{
	font: 14px Arial, sans-serif;
	width: 70%;
}

img.boton{
	cursor:pointer;
}
button.vistacliente{
	background: transparent;
    border: none !important;
}

button.anadir{
	background: transparent;
    border: none !important;
    float:right;
}
p.titulo {
	color:black;
	font-size: xx-large;
font: 40px Arial, Helvetica, sans-serif;
	font-weight:lighter;
}

th {
  border: 0px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #aa173a;
  color: white;
}
th.ultima{
	border-top-right-radius:8px; 
}
th.primerault{
	border-top-right-radius:8px; 
	border-top-left-radius: 8px;
}
th.primera{
	border-top-left-radius: 8px;
}

td {
  border: 0px solid #ddd;
}
td.boton{
	width: 40px;
	background-color:transparent;
	
}

tr.fila td {
	background-color: #fff;
}
tr.fila td.boton {
	background-color: transparent;
}
table tr.fila:hover td {background-color: #a2a2a214;}
table tr.fila:hover td.boton{background-color: transparent !important;}

p.fOculto{
	color:#94929847;
}

div.paginas{
	width:200px;
	height:30px;
	padding-top:3px;
	margin-top:5px;
	overflow: hidden; 
	margin-left: auto;
	margin-right: auto;
}

div.tabla {
	height: auto; 
	overflow: hidden;
}

div.selectpag{
	width:90%;
	height: 30px; 
	overflow: hidden;
	padding-top: 20px;
	margin-bottom: 3px; 
	
	margin-left:auto; 
  	margin-right:auto;
}

div.titulotabla{
	height:90px;
	overflow: hidden;
	padding-top: 20px;
	margin-bottom: 3px; 
	display: flex;
   align-items: center;
   justify-content: center;
}

a:link, a:visited {
	font: 14px Arial, sans-serif;
	margin-right:4px;	
  text-decoration: none;
  font-size: large;
  color: #000000;
}

a:link:active, a:visited:active {
	font: 14px Arial, sans-serif;
  margin-right:4px;	
  text-decoration: none;
  font-size: large;
  color: #D9BABA;
  
}

span.current{
	font: 14px Arial, sans-serif;
	width:4px;
	margin-right:4px;
	border-radius: 10px;
  border: 1.5px solid #DA4C6F;
	  font-size: x-large;

}
@media screen and (max-width: 600px) {
       table {
           width:100%;
       }
       thead {
           display: none;
       }
       tr:nth-of-type(2n) {
           background-color: inherit;
       }
       tr td:first-child {
           background: #f0f0f0;
           font-weight:bold;
           font-size:1.3em;
       }
       tbody td {
           display: block;
           text-align:center;
       }
       tbody td:before {
           content: attr(data-th);
           display: block;
           text-align:center;
       }
}

.filtro {
  background-image: url("../img/lupa.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  border-radius:20px;
  font-size: 14px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}


.filterIcon {
	height: 15px;
	width: 15px;
	cursor: pointer;
}

.popup {
  position: absolute;
  display: block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  width: 400px;
}

.popup .show {
  visibility: visible;
}
.popupFiltro {
  position: absolute;
  display: block;
  cursor: pointer;
}

.popupFiltro .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  width: 400px;
}

.popupFiltro .show {
  visibility: visible;
}

th.boton{
	background: transparent;
    border: none !important;
}