div.dJefe{
    background-color:#ffffffba;
    width:100%;
    heigth:100%;
}

div.dPeones{
    background-color:#ffffffba;
}
td.nombre{
    cursor:pointer
}
label.jefMaq{
    color:#060606;
}
label.peones{
    color:#020202;
}