.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 50ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 0px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 0px;
  right:0px;
  transition: all 200ms;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.popup .close:hover {
  color:#AA173A;
}
p.textp{
	padding-top:3%;
	font: 14px Arial, sans-serif;
}
.popup .content {
  max-height: 20%;
  overflow: auto;
}
button.bPop{
	background-color: transparent;
	border:none;
	margin-left: 45%;
	margin-bottom: 3%;
}